body{
    background: #f3f3f3;
    font-family: 'TH Baijam';
    font-size:16pt;
    /* color: rgb(85, 85, 85); */
     /* font-family: 'Kanit'; */
}
#home ,#menu1, #menu2, #menu3{
    background: white;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 15px;
}
input[type="radio"] {
    cursor: pointer;
    /* -webkit-appearance: none; */
    appearance: none;
    background: #34495E;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-width: 0;
    transition: all 0.3s linear;
    margin-right: 5px;
    position: relative;
    top: 7px;
}

input[type="checkbox"] {
    cursor: pointer;
    /* -webkit-appearance: none; */
    appearance: none;
    background: #34495E;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box;
    width: 16px;
    height: 20px;
    border-width: 0;
    transition: all 0.3s linear;
    margin-right: 10px;
    position: relative;
    top: -4px;
    /* right: 5px; */
    /* margin-right: 10px; */
}
.cursor{
    cursor: pointer;
}
h3{
    font-size:20pt;
    font-weight: bold;
}
.nav-tabs{
    background: #ff6600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-tabs li a{
    color:#fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #1f1c1c;
    border: 1px solid #151414;
    margin-top: 0px;
    border-bottom-color: transparent;
    border-bottom: 2px solid black;
}
.nav-tabs>li>a:hover {
    border-color: #f60 #f60 #f60;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ff5b00;
}