<div class="row">
        <div class="col-md-7">
                <h2  id="head-person">ข้อมูลส่วนบุคคล</h2>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td id="head-second" width="200" class="text-right"><b>เลขบัตรประจำตัวประชาชน:</b> </td>
                            <td id="tb1"><span id="person-cid"></span></td>
                        </tr>
                        <tr>
                            <td id="head-second"><b>ชื่อ-นามสกุล:</b> </td>
                            <td id="tb2"><span id="person-fullname-th"></span></td>
                        </tr>
                        <tr>
                            <td id="head-second"><b>เกิดวันที่:</b> </td>
                            <td id="tb3"><span id="person-birthday"></td>
                        </tr>
                        <tr>
                            <td id="head-second"><b>ที่อยู่:</b> </td>
                            <td id="tb4"><span  id="person-address"></td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- col-md-7 -->
        <div class="col-md-2">
                <div id="showImage" >
                  <input type="text" id="person-md5-imag" class="person-md5-image" readonly>  
                  <img id='person-pImg'  src="./assets/images/nophoto.png" class="img img-responsive" style="margin:0 auto; text-align:center">
                </div>  
        </div><!-- col-md-2 -->
        <div class="col-md-3">
                <h1 id="head-person">ขอรับบริการ</h1>
                    <div><label><input type="radio" id="" name="getService" value="1" > ตรวจสุขภาพ (Check up)</label></div>
                    <div><label><input type="radio" id="" name="getService" value="1" > ตรวจตามนัด (Follow up)</label></div>
                    <div><label><input type="radio" id="" name="getService" value="1" > ส่งต่อการรักษา (Refer)</label></div>
                    <div><label><input type="radio" id="" name="getService" value="1" > ตรวจรักษาโรค</label></div>

                    <div style="    margin-left: 35px;">
                          อาการสำคัญ ระบุ<br>
                          <input type="text">
                    </div>
        </div><!-- col-md-3 -->
</div><!-- row -->
<div class="row">
    <div class="col-md-7">
        <h1 id="head-person">ข้อมูลสุขภาพ</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td id="head-second" width="200">โรคประจำตัว</td>
                    <td id="tb1">ไม่มี</td>
                </tr>
                <tr>
                    <td id="head-second">ยาที่ใช้ประจำ</td>
                    <td id="tb2">ไม่มี</td>
                </tr>
                <tr>
                    <td id="head-second">แพ้ยา</td>
                    <td id="tb3">ไม่มี</td>
                </tr>
                <tr>
                    <td id="head-second">กรุ๊ปเลือด</td>
                    <td id="tb4">-</td>
                </tr>
            </tbody>
        </table>
    </div><!-- col-md-7 -->
<div class="col-md-5" style="border-left: 1px solid #dddddd;">
        <h1 id="head-person">สิทธิการรักษา</h1>
    <table class="table">
        <tbody>
            <tr>
                <td id="head-person" width="200">สิทธิการรักษา</td>
                <td>หลักประกันสุขภาพแห่งชาติ</td>
            </tr>
            <tr>
                 
            </tr>
            <tr>
                <td id="head-person">ยืนยันตัวบุคคล</td>
                <td></td>
            </tr>
            <tr>
                <td id="head-second">รหัส OPT</td>
                <td id="pin">*****</td>
            </tr>
            <tr>
                <td id="head-second">ลายนิ้วมือ</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div><!-- col-md-5 -->
</div>
<!-- row -->